:root {
  --spacer: 0.8rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* scrollbar design */
::-webkit-scrollbar {
  height: 0.6em;
}
::-webkit-scrollbar-track {
  background-color: rgb(84, 85, 84);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(36, 37, 36);
  border: 0.25em solid rgb(84, 85, 84);
}
/* firefox support */
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: rgb(36, 37, 36) rgb(84, 85, 84);
    scrollbar-width: auto;
  }
}

.mvi_content {
  position: relative;
  top: 0;
  left: 0;
  inline-size: 98vw;
  height: calc(18rem);
  margin: 0 auto;
}

ul.movies_library {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 22%;
  padding: var(--spacer) var(--spacer) 0;
  gap: var(--spacer);
  list-style: none;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.snaps_inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--spacer);
}

.snaps_inline > * {
  scroll-snap-align: start;
}

/* Media queries */
@media (max-width: 945px) {
  .mvi_content {
    inline-size: 98vw;
    height: calc(12rem);
  }

  ul.movies_library {
    grid-auto-columns: 24%;
  }
}

@media (max-width: 715px) {
  .mvi_content {
    inline-size: 98vw;
    height: calc(9rem);
  }

  ul.movies_library {
    grid-auto-columns: 30%;
  }
}

@media (max-width: 460px) {
  .mvi_content {
    inline-size: 98vw;
    height: calc(16rem);
  }
  ul.movies_library {
    grid-auto-columns: 70%;
  }
}
