.App {
  position: relative;
  width: 100vw;
  background-color: rgb(27, 24, 24);
}

.App_container {
  width: 100%;
  margin: 0 2rem;
}
.movies_container {
  position: relative;
}

.App_header,
.App_intermediary_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.movies_content {
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
